<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Karton pacijenta</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="input-group no-border" style=" width: 20%">
              <input type="text" id="searchInput" value="" class="form-control" placeholder="JBO" [ngClass]="{ 'is-invalid': submittedSearch && searchControl.errors }"/>
              <div class="input-group-append">
                <div *ngIf="submittedSearch && searchControl.errors" class="invalid-feedback">
                  <div *ngIf="searchControl.errors.required">Polje ne moze biti prazano i mora biti broj</div>
                </div>
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold" (click)="search()"></i>
                </div>
              </div>
            </div>
          </form>
          <div id="tablaDijagnoze">
            <div class="row">
              <div class="col-md-2 pr-1">
                <div class="form-group">
                  <label>Broj kartona</label>
                  <input type="text" class="form-control"  disabled="" placeholder="brok" value="{{karton.broj}}">
                </div>
              </div>
              <div class="col-md-2 px-1">
                <div class="form-group">
                  <label>JBO</label>
                  <input type="text" id="jbo" disabled="" class="form-control" placeholder="jbo" value="{{karton.jbo}}">
                </div>
              </div>
              <div class="col-md-2 pl-1">
                <div class="form-group">
                  <label for="ime">Ime</label>
                  <input name="ime" id="ime" disabled=""  type="email" class="form-control" placeholder="Email" value="{{karton.ime}}">
                </div>
              </div>
              <div class="col-md-2 pl-1">
                <div class="form-group">
                  <label for="prezime">Prezime</label>
                  <input name="prezime" id="prezime" disabled=""  type="email" class="form-control" placeholder="Email" value="{{karton.prezime}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 pr-1">
                <div class="form-group">
                  <label>Krvna grupa</label>
                  <input type="text" id="krvnaGrupa" class="form-control"  placeholder="Nije uneseto" value="{{karton.krvnaGrupa}}">
                </div>
              </div>
              <div class="col-md-2 px-1">
                <div class="form-group">
                  <label>Dioptrija</label>
                  <input type="text" id="dioptrija" class="form-control" placeholder="Nije uneseto" value="{{karton.dioptrija}}">
                </div>
              </div>
              <div class="col-md-2 pr-1">
                <button class="btn btn-default" (click)="izmeni()">Sacuvaj izmene</button>
              </div>
            </div>
            <div class="table-responsive"  >
              <h6 class="card-title">Istorija bolesti</h6>
              <table class="table table-striped">
                <thead class=" text-primary">
                <th>
                  Datum
                </th>
                <th>
                  Ime lekara
                </th>
                <th>
                  Izvestaj
                </th>
                <th>
                  Diagnoze
                </th>
                <th>
                  Lekovi
                </th>
                </thead>
                <tbody>
                <ng-container *ngFor="let dijagnoza of karton.izvestaji; let i = index">
                  <tr>
                    <td>{{dijagnoza.datum}}</td>
                    <td>{{dijagnoza.imeLekara}}</td>
                    <td>{{dijagnoza.text}}</td>
                    <td>{{dijagnoza.dijagnoze}}</td>
                    <td>{{dijagnoza.lekovi}}</td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
