<div class="panel-header panel-header-sm">


</div>


<div class="main-content">
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Zahtev za godisnji odmor ili odsustvo</h5>
          <p class="text-warning">(Zahtev za godisnji odmor se mora poslati nedelju dana unapred!)</p>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Klinicki centar </label>
                  <input type="text" class="form-control" disabled="" placeholder="{{lekari.klinika}}" value="">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Korisnicko ime</label><!--<label for="exampleInputEmail1">Email address</label>-->
                  <input type="username" class="form-control" disabled="" placeholder="{{lekari.korIme}}" value="">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Ime</label>
                  <input type="text" class="form-control" disabled="" placeholder="{{lekari.ime}}" value="">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Prezime</label>
                  <input type="text" class="form-control" disabled="" placeholder="{{lekari.prezime}}" value="">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Pocetak odmora/odsustva</label>
                  <input type="date" [(ngModel)]="odsodmor.pocetak"
                         class="form-control"
                         id="myDate1"
                         name="myDate1"
                         value="yyyy-mm-dd"
                         required #name="ngModel">
                   </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Kraj odmora/odsustva</label>
                  <input type="date" [(ngModel)]="odsodmor.kraj"
                         class="form-control"
                         id="myDate2"
                         name="myDate2"
                         value="yyyy-mm-dd"
                         required #name="ngModel">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email adresa </label>
                  <p class="text-warning"> (Izvestaj o zahtevu za godisnji odmor ili odsustvo dobicete putem email-a!)</p>
                  <input type="email" class="form-control" disabled="" placeholder="{{lekari.email}}" value="">
                </div>
              </div>


              <form>
                <div class="col-md-16 pr-1">
                  <label>Zakazi</label>
                  <div class="form-group">
                      <!--
                      <input type="text" [(ngModel)]="lekari.email"
                             class="form-control"
                             id="email"
                             name="email"
                             placeholder="{{lekari.email}}"
                             required #name="ngModel">
                      -->
                    <input type="radio" [(ngModel)]="odsodmor.godisnji"
                           id="godisnji"
                           name="godisnji"
                           value="godOdmor"
                           required #name="ngModel"> Godisnji<br>
                    <input type="radio" [(ngModel)]="odsodmor.odsustvo"
                           id="odsustvo"
                           name="odsustvo"
                           value="odsustvo"
                           required #name="ngModel"> Odsustvo<br>
                  </div>
                </div>
              </form>

              <!--<form>
                <div class="col-md-8 pr-1">
                    <div class="form-group">
                        <label>Vrsta odsustva</label>

                            <input type="radio" name="odsustvo" value="godOdmor"> Operacija<br>
                            <input type="radio" name="odsustvo" value="odsustvo"> Pregled<br>

                      <input type="radio" [(ngModel)]="odsodmor.godisnji"
                             name = "odsustvo"
                             required #name="ngModel"> Godisnji<br>
                      <input type="radio" [(ngModel)]="odsodmor.odsustvo"
                             name = "odsustvo"
                             required #name="ngModel"> Odsustvo<br>

                  </div>

              </div>
            </form> -->
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Obrazlozenje</label>
                <p class="text-warning">(Svaki radnik ima prava na 21 dan godisnjeg odmora!)</p>
                <textarea rows="4" cols="80" class="form-control" placeholder="....." value="Mike"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--
  <div class="col-md-8">
    <div class="card">
  -->

    <!--<div class="main-panel">-->
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  Posaljite zahtev...
                  <p class="text-warning">(Odgovor cete dobiti istog ili narednog dana)</p>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-6">
                    <button (click) = "posaljiZahtev()" class="btn btn-primary btn-block" >Posalji zahtev</button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-primary btn-block" >Restartuj</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--</div>-->
  </div>
</div>

<footer class="footer" >
  <!---<div class=" container-fluid ">  -->
  <div class="card-footer">
    <nav>
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="http://presentation.creative-tim.com">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      &copy; <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
    </div>
  </div>
</footer>
