<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Izmeni profil</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="profilForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Klinika</label>
                  <input type="text" class="form-control"  disabled="" placeholder="Company" value={{podaci.klinika}}>
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" id="username" formControlName="username" disabled="" class="form-control" placeholder="Username" value={{podaci.username}}>
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="email">Email adresa</label>
                  <input name="email" id="email" formControlName="email" type="email" class="form-control" placeholder="Email" value={{podaci.email}}>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Ime</label>
                  <input type="text" id="ime" formControlName="ime" class="form-control" placeholder="Company" value={{podaci.ime}}>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Prezime</label>
                  <input type="text" id="prezime" formControlName="prezime" class="form-control" placeholder="Last Name" value={{podaci.prezime}}>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Adresa</label>
                  <input type="text" id="adresa" formControlName="adresa" class="form-control" placeholder="Home Address" value={{podaci.adresa}}>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-danger">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Sačuvaj
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
