
<div class="main-content">
  <div id="hide1">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Trenutni pacijent</h4>
          </div>
          <div class="card-body">
            <div id="tablaDijagnoze">
              <div class="row">
                <div class="col-md-2 px-1">
                  <div class="form-group">
                    <label>JBO</label>
                    <input type="text" id="jbo" disabled="" class="form-control" placeholder="jbo" value="{{data.jbo}}">
                  </div>
                </div>
                <div class="col-md-2 pl-1">
                  <div class="form-group">
                    <label for="ime">Ime</label>
                    <input name="ime" id="ime" disabled=""  type="email" class="form-control" placeholder="Email" value="{{data.ime}}">
                  </div>
                </div>
                <div class="col-md-2 pl-1">
                  <div class="form-group">
                    <label for="prezime">Prezime</label>
                    <input name="prezime" id="prezime" disabled=""  type="email" class="form-control" placeholder="Email" value="{{data.prezime}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Trenutni pregled</h4>
          </div>
          <div class="card-body">
            <div id="izvesta">
              <div class="row">
                <div class="col-md-12 px-1">
                  <textarea id="textArea" name="message" rows="4" cols="160" placeholder="Ovde unesite izvestaj" value="{{data.text}}"></textarea>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 px-1">
                  <h6 >Dijagnoze</h6>
                  <mat-selection-list [(ngModel)]="selectedDijagnoze" [compareWith]="compareFunction">
                <mat-list-option  *ngFor="let shoe of typesOfDijagnoza" [value]="shoe">
                  {{shoe.name}}
                </mat-list-option>
              </mat-selection-list>
                </div>
                <div class="col-md-6 px-1">
                  <h6>Lekovi</h6>
                  <mat-selection-list [(ngModel)]="selectedLek" [compareWith]="compareFunction">
                    <mat-list-option  *ngFor="let shoe of typesOfLek" [value]="shoe">
                      {{shoe.name}}
                    </mat-list-option>
                  </mat-selection-list>
                </div>
              </div>
              <button class="btn btn-success" (click)="save()">Sacuvaj</button>
              <button class="btn btn-neutral" (click) = "open(zakazi)">Zakazi dodatni termin</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="hide2">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Ni jedan pregled nije u toku</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #zakazi let-modal windowClass="modal-dialog">
  <div class="modal-header">
    <h4 class="modal-title" class="text-right" id="modal-basic-title2">Biranje termina pregleda</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="col-md-5 pr-1">
      <div class="form-group">
        <label>Datum pregleda:</label>
        <input type="date" [(ngModel)]="odsodmor.pocetak"

               (ngModelChange)="onChange1()"
               class="form-control"
               id="myDate1"
               name="myDate1"
               value="yyyy-mm-dd"
               required #name="ngModel">
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead class=" text-primary">
        <th>
          Satnica
        </th>
        <th>
          Zakazi
        </th>

        </thead>
        <tbody>
        <ng-container *ngFor="let sat of vreme; let i = index">
          <tr>
            <td>{{sat.parsirano1}}</td>


            <a class="nav-link" (click)="open3(sat.parsirano1)" >
              <i class="now-ui-icons ui-2_time-alarm"></i>

            </a>

          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>


  </div>
  <div class="modal-footer">

  </div>
</ng-template>
